{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYHIGH</title>
    <link rel="stylesheet" href="{% static 'css_storage/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css_storage/carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_storage/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="container-fluid g-0">

<!-------------------Navigation Bar--------------------------------->
    <nav>
        <div class="nav_logo">SKYHIGH</div>
        <div class="nav_links ">
            <ul class="nav_menu">
                <li class="link"><a href="#">Home</a></li>
                <li class="link"><a href="#">About</a></li>
                <li class="link"><a href="#">Offers</a></li>
                <li class="link"><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="login">
            <a href="{% url 'sign_in' %}"><button class="btns">Login</button></a>
        </div>
    </nav>
<!---------X----------Navigation Bar----------X----------------------->

<!------------------Main site section------------------------------->

<main class="container-fluid">


    <!-------------------Site--Title------------------------------------------>

    <section class="site-title" style="scroll-snap-align: start;">
        <div class="site-background">
            <h1 style="translate: -20rem -5rem; font-size: 4rem;">FLY BETTER</h1>
            <h2 style="translate: 24rem 10rem;">Effortless Travel Endless Possibilities</h2>
            <!---<button class="btn-2">Explore</button>-->
        </div>
    </section>

    <!----------X---------Site--Title-----------------------X------------------->

    
    <!-----------------------Promo Section----------------------------------->
    
   
        <div class="promo-text"  data-aos="slide-up" data-aos-delay="100">
        <h1>A CLASS APART. IT'S THE NEW STANDARD.</h1>
        <p>Discover our world of exclusive offers and services that change the way you travel.</p>
        </div> 
        <div class="promo-section" style=" background-color: #fff4ec;scroll-snap-align: start;"  data-aos="slide-up" data-aos-delay="100"></div>
        <div class="promo-cards"  data-aos="slide-up" data-aos-delay="200">
            <div class="card">
                <div class="card-image" style="background-image: url('{% static 'assets/mum_nyc.jpg' %}')"></div>
                <div class="card-text">Popular: Mumbai to NYC</div>
                <button class="know-more">Know More</button>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('{% static 'assets/loyalty_program_2x_upc.jpg' %}')"></div>
                <div class="card-text">Loyalty Programme</div>
                <button class="know-more">Know More</button>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('{% static 'assets/star-alliance-new-card-image-updated_upc.jpg' %}');"></div>
                <div class="card-text">Star Alliance</div>
                <button class="know-more">Know More</button>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('{% static 'assets/E-Store-Image_upc.jpg' %}');"></div>
                <div class="card-text">AI EStore</div>
                <button class="know-more">Know More</button>
            </div>
            <div class="card">
                <div class="card-image" style="background-image: url('{% static 'assets/ask-agent-new_upc.jpg' %}');"></div>
                <div class="card-text">Talk to Us</div>
                <button class="know-more">Know More</button>
            </div>
            
          
        </div>

   <!---------X---------------Promo Section------------------X------------------>

   <!-------------------------------Travel Hints----------------------------------->

   <section  style=" background-color: #f7f8f8;padding:5rem 0rem;scroll-snap-align: start;">
    <div class="row text-center justify-content-center">
        <div class="col-4 d-flex justify-content-center align-items-center flex-column" data-aos="flip-left" data-aos-delay="200">
            <h2 style="color: #a50034;">PREPARE TO TRAVEL</h2>
            <p>Helpful hints for everything from packing to paperwork, so you are fully prepared.</p>
        </div>
        <div id="travel-img1" class="col-2 card" style="background-color: #f7f8f8; margin-right: 1rem; border: none;" data-aos="slide-up" data-aos-delay="200">
            <img src="{% static 'assets/generous-baggage-new.jpg' %}" class="img-fluid">
            <div class="card-body">
                <div class="card-title" style="color: #a50034;">BAGGAGE ESSENTIALS</div>
                <p>Travel light on worries and heavy on information. Baggage rules decoded.</p>
            </div>
        </div>
        <div id="travel-img2" class="col-2 card" style="background-color: #f7f8f8; margin-right: 1rem; border: none;" data-aos="slide-up" data-aos-delay="200">
            <img src="{% static 'assets/airport-info-new.jpg' %}" class="img-fluid">
            <div class="card-body">
                <div class="card-title" style="color: #a50034;">ADVENTURES</div>
                <p>Turn layovers into mini vacations—insights on terminals, lounges, amenities, and more.</p>
            </div>
        </div>
        <div id="travel-img3" class="col-2 card" style="background-color: #f7f8f8; border: none;" data-aos="slide-up" data-aos-delay="200">
            <img src="{% static 'assets/before-you-fly-new.jpg' %}" class="img-fluid">
            <div class="card-body">
                <div class="card-title" style="color: #a50034;">BEFORE YOU FLY</div>
                <p>From visa essentials to medical assistance, everything you need to know.</p>
            </div>
        </div>
        
    </div>
</section>


   <!---------------X----------------Travel Hints------------X----------------------->

    <!-----------------------Travel Carousel------------------------------------->

    <!---<section style="margin-bottom: 7rem;" data-aos="slide-up" data-aos-delay="200">
        <div class="blog">
            <div class="container text-center">
                <h3 style="margin-top: 5rem; font-size: 2rem; text-align: center; margin-bottom: -2rem;display: inline-block;background-color: #a50034; text-align: center;color: white; padding: 1.5rem;border-radius: 2rem;">TOP OFFERS</h3> 
                <div class="owl-carousel owl-theme blog-post">
                    
                    <div class="blog-content">
                        <img src="./assests/t-1.jpg">
                        <div class="blog-title">
                            <h3>Darjeeling</h3>
                            <button class="btn-3">Book</button>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="./assests/t-2.jpg">
                        <div class="blog-title">
                            <h3>Darjeeling</h3>
                            <button class="btn-3">Book</button>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="./assests/t-3.jpg">
                        <div class="blog-title">
                            <h3>Darjeeling</h3>
                            <button class="btn-3">Book</button>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="./assests/t-4.jpg">
                        <div class="blog-title">
                            <h3>Darjeeling</h3>
                            <button class="btn-3">Book</button>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="./assests/t-5.jpg">
                        <div class="blog-title">
                            <h3>Darjeeling</h3>
                            <button class="btn-3">Book</button>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="./assests/t-6.jpg">
                        <div class="blog-title">
                            <h3>Darjeeling</h3>
                            <button class="btn-3">Book</button>
                        </div>
                    </div>
                   
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fa-solid fa-left-long"></i></span>
                    <span class="owl-nav-next"><i class="fa-solid fa-right-long"></i></span>
                </div>
            </div>
        </div>
    </section>  -->

<!------------X-----------Travel Carousel----------------X------------------->

<!---------------------------Our Services-------------------------------------------->

<!---<section id="services" style="margin-bottom: 7rem;">
    <div class="container" style=" background-color: #fff4ec;">
        
        <div class="services-grid" >
            <div class="services-image" style="padding: 1.5rem 0rem;" data-aos="slide-up" data-aos-delay="200">
                <img class="img-zoom" src="./assests/services.jpg" alt="Services Image">
            </div>
            <div class="services-content" data-aos="slide-up" data-aos-delay="200">
                <h2 style="text-align: center; padding: 2rem 0rem;">Our Services</h2>
                <p>
                    At SKYHIGH, we are dedicated to providing you with a seamless and exceptional travel experience from start to finish. Our comprehensive range of services includes effortless online booking, allowing you to plan your journey with just a few clicks. Our personalized travel itineraries are tailored to your preferences, ensuring that every aspect of your trip meets your expectations.
                </p>
                <p>
                    Experience unparalleled comfort with our top-notch amenities, including luxurious seating, in-flight entertainment, and gourmet meals prepared by renowned chefs. Our dedicated 24/7 customer support team is always available to assist you with any queries or concerns, providing you with peace of mind throughout your journey.
                </p>
                <p>
                    Discover exclusive travel packages and special offers that make your trips more affordable and unforgettable. Whether you are traveling for business or leisure, SKYHIGH guarantees a journey that is both enjoyable and convenient. Let us take you to new heights with our commitment to excellence, ensuring that your travel experience is nothing short of extraordinary.
                </p>
            </div>
        </div>
    </div>
</section>  -->


<!-------------X--------------Our Services------------------X--------------------------> 

<!----------------------------Hotel Stay----------------------------------------------->

<div class="hotel" data-aos="slide-up" data-aos-delay="200">
    <h5><p>COMPLIMENTARY HOTEL STAY</p></h5>
    <h1><p>Stay at the JW Marriott Marquis on us</p></h1>
    <h6><p>Fly to or through India to enjoy upto two nights at JW Marriott Marquis with our compliments</p></h6>
    
</div>


<!----------------------------Hotel Stay----------------------------------------------->

</main>

<!----------X--------Main site section------------X------------------->

<!---------------------------Footer----------------------------------------->

<footer class="footer">
    <div class="container">
        <!-- First Row -->
        <div class="row py-3 border-bottom border-grey-dotted">
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">About Us</h6>
                <ul class="list-unstyled">
                    <li><a href="#">About Air India</a></li>
                    <li><a href="#">Corporate Information</a></li>
                    <li><a href="#">Tenders</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Book & Manage</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Search Flights</a></li>
                    <li><a href="#">Manage Booking</a></li>
                    <li><a href="#">Flight Schedule</a></li>
                    <li><a href="#">Cargo</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Where We Fly</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Route Map</a></li>
                    <li><a href="#">Nonstop Flights</a></li>
                    <li><a href="#">Popular Flights</a></li>
                    <li><a href="#">Partner Airlines</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Prepare to Travel</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Baggage Guidelines</a></li>
                    <li><a href="#">Airport Information</a></li>
                    <li><a href="#">First-time Travellers, Children and Pets</a></li>
                    <li><a href="#">Visas, Documents and Travel Tips</a></li>
                    <li><a href="#">Health and Medical Assistance</a></li>
                </ul>
            </div>
        </div>
        <!-- Second Row -->
        <div class="row py-3 border-bottom border-grey-dotted">
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Air India Experience</h6>
                <ul class="list-unstyled">
                    <li><a href="#">At The Airport</a></li>
                    <li><a href="#">In The Air</a></li>
                    <li><a href="#">Transforming Experiences</a></li>
                    <li><a href="#">Our Fleet</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Loyalty</h6>
                <ul class="list-unstyled">
                    <li><a href="#">About Flying Returns</a></li>
                    <li><a href="#">Points Calculator</a></li>
                    <li><a href="#">Earn Points</a></li>
                    <li><a href="#">Spend Points</a></li>
                    <li><a href="#">Flying Returns FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Support</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Frequently Asked Questions</a></li>
                    <li><a href="#">Grievance Resolution</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Air India App</h6>
                <p>Download the app to book and manage your flights on the go. <a href="#">Learn more</a></p>
                <a href="#"><img src="{% static 'assets/download-on-the-app-store-apple-logo-svgrepo-com.svg' %}" alt="App Store" height="125" class="mb-0 p-0 mr-2"></a>
                <a href="#"><img src="{% static 'assets/google-play-badge-logo-svgrepo-com.svg' %}" alt="Google Play" height="125" class="mb-0 p-0"></a>
            </div>
            
            
        </div>
        <!-- Third Row (Bottom Section) -->
        <div class="row py-3 border-bottom border-grey-dotted">
            <div class="col-md-3">
                
                <ul class="list-unstyled">
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility Plan and Feedback Process</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                
                <ul class="list-unstyled">
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Cookie Settings</a></li>
                    <li><a href="#">Conditions of Carriage</a></li>
                    <li><a href="#">Domestic Fares</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                
                <ul class="list-unstyled">
                    <li><a href="#">Travel Agents</a></li>
                    <li><a href="#">GST</a></li>
                    <li><a href="#">Passenger Rights</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="column-title" style="font-family: 'Montserrat', sans-serif;">Follow Us On</h6>
                <div class="social-icons" style="margin-top: 3rem;">
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube fa-2x"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                </div>
                
        </div>
        <!-- Fourth Row -->

        <div class="row py-3">
            <div class="col-md-12 text-center">
                <p style="font-size: 0.85rem;margin: 0px;">Copyright © 2024 SKYHIGH Ltd. All rights reserved.</p>
                <p style="font-size: 0.85rem;">Use of this website indicates your compliance with our <a href="#">Privacy Policy</a>, <a href="#">Conditions of Carriage</a>, <a href="#">Terms and Conditions</a>.</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>



<!--------------x-------------Footer--------------------x--------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="{% static 'js_storage/3.7.1.main.js' %}"></script>
<script src="{% static 'js_storage/owl.carousel.min.js' %}"></script>
<script src="{% static 'js_storage/main2.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>



